*{
    margin: 0;
    padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}


.div1{
    width: 45vw;
    height: 100vh;
    background-color: #002c4a;
}

.div2{
    overflow-y: hidden;
    width: 55vw;
    height: 100vh;
    background-color: #0d1833;
}

.screen{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    display: none;
    transition: 0.5s all ease-in-out;
    opacity: 0;
}


#screen1{
    opacity: 1;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;

   
}

#screen2img1{
    transform: translateY(-1000px);
}

.transimg{
  
    transition: 0.3 all ease-in;
    /* transform: translateY(-1000px); */
}

.current{
    animation: translateY 1s ease-out backwards;
}

.current2{
    animation: translateX 1s ease-out forwards;
}


@keyframes translateY {
    from {
        transform: translateY(-1000px);
    }
    to {
        transform: translateY(0);
    }
}


@keyframes translateX {
    from {
        bottom: -500px ;
    }
    to {
        bottom: 0px;
    }
}



.show{
   display: block;
   opacity: 1;
}

.container img {
    max-width: 100%;
    height: auto;
}

.div1div{
    display: flex;
    flex-direction: column;

}


































.transrgwht2 {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    stroke-dasharray: 150, 1000;
    /* stroke-dashoffset: 0;
    animation: draw 1s linear ; */
}


.transrgwht3 {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    stroke-dasharray: 300, 1000;
    stroke-dashoffset: 0;
    animation: draw 1s linear ;
}




.transrgwht4 {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    stroke-dasharray: 450, 1000;
    stroke-dashoffset: 0;
    animation: draw 1s linear ;
}




.transrgwht5 {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    stroke-dasharray: 600, 1000;
    stroke-dashoffset: 0;
    animation: draw 1s linear ;
}



.transrgwht6 {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    stroke-dasharray: 750, 1000;
    stroke-dashoffset: 0;
    animation: draw 1s linear ;
}




.transrgwht7 {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    stroke-dasharray: 900, 1000;
    stroke-dashoffset: 0;
    animation: draw 1s linear ;
}

@keyframes draw {
    0% {
        stroke-dasharray: 150, 1000;
    }
    100% {
        stroke-dasharray: 150, 1000;
    }
    /* 28.6% {
        stroke-dasharray: 300, 1000;
    }
    42.9% {
        stroke-dasharray: 450, 1000;
    }
    57.2% {
        stroke-dasharray: 600, 1000;
    }
    71.5% {
        stroke-dasharray: 750, 1000;
    }
    85.8% {
        stroke-dasharray: 900, 1000;
    }
    100% {
        stroke-dasharray: 1050, 1000;
    } */
}



@keyframes showDots {
    0%, 14.3%, 28.6%, 42.9%, 57.2%, 71.5%, 85.8%, 100% {
        opacity: 0;
    }
    2%, 16.3%, 30.6%, 44.9%, 59.2%, 73.5%, 87.8% {
        opacity: 1;
    }
}